body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    padding-top: 160px; 
    color: #333;
}

.contenedor-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #ffffff;
    /* Se adapta al espacio de la pantalla */
    flex-wrap: wrap; 
    gap: 15px; 
}

.top-header {
    flex: 0 0 auto; /* Mantiene el tamaño original.*/
}

form {
    flex: 1;
    display: flex;
    justify-content: center;
    min-width: 250px;
}

form input {
    width: 100%;
    max-width: 500px;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f0f8ff;
    outline: none;
    transition: 0.3s;
}

form input:focus { /*al pulsar en la barra de búsqueda se cambia el color del borde siendo fondo blanco pero creando un sombreado*/
    background-color: #fff;
    border-color: aqua;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.3);
} 

.carrazo {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 0; /*no se encoje*/
}

.carrazo img {
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.carrazo img:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* Líneas suaves para separar el menú*/
    border-top: 1px solid #f0f0f0;  
    flex-wrap: wrap;
    height: auto;
    min-height: 40px;
    padding: 10px 0;
}

nav a {
    color: #333333; 
    text-decoration: none;
    margin: 5px 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700; /* Letra más gruesa*/
    white-space: nowrap; /*el texto no se divide en varias lineas*/
    transition: color 0.3s;
}

/* Efecto al pasar el puntero */
nav a:hover {
    color: aqua;
}


main h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: #000;
}

main nav {
    border-top: none; /* quitar la línea gris que heredaba del header*/
    background-color: transparent; /* Fondo transparente */
    gap: 30px;
    margin-bottom: 40px;
    padding: 0 20px;
}

main nav img {
    width: 300px; /* Ancho fijo para uniformidad */
    height: 200px; /* Altura fija para que todas las imagenes se vean igual */
    object-fit: cover; /* Recorta la imagen para llenar el espacio sin deformarla */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

main nav img:hover {
    transform: translateY(-5px); /* Efecto de flotar al pasar el ratón */
}


main article {
    max-width: 1000px;
    /* centra el bloque en la pantalla automáticamente */
    margin: 0 auto;
    padding: 0 20px;
    
    text-align: justify;
    line-height: 1.8;
    color: #444;
}

main article h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #000;
}

main article p {
    margin-bottom: 20px; /* Espacio entre párrafos */
}