

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}



body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

 