header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

form {
    display: flex;
    align-items: center;
    text-align: center;
}

form input {
    padding: 5px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: cyan;
}


nav {
    display: flexbox;
    align-items: center;
    text-align: center;
    margin: 0 15px;
    text-decoration: none;
}

.carrazo {
    margin-right: 100px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

footer {
    text-align: center;
}