body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-top: 160px; 
}

.contenedor-fijo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;   /* Está por encima de todo */
    background-color: #ffffff; /* Fondo blanco para todo el bloque */
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #ffffff;
    /* Se adapta al espacio de la pantalla */
    flex-wrap: wrap; 
    gap: 15px; 
}

.top-header {
    flex: 0 0 auto; /* Mantiene el tamaño original.*/
}

form {
    flex: 1; /*flexible para llenar el espacio*/
    display: flex;
    justify-content: center;
    min-width: 250px;
}

form input {
    width: 100%;
    max-width: 500px;
    padding: 8px 15px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #f0f8ff;
    outline: none; /*elimina el contorno.*/
    transition: 0.3s; /*transición suave*/
}

form input:focus { /*al pulsar en la barra de búsqueda se cambia el color del borde siendo fondo blanco pero creando un sombreado*/
    background-color: #fff;
    border-color: aqua;
    box-shadow: 0 0 5px rgba(0, 255, 255, 0.3);
} /*el objetivo es crear un efecto de enfoque*/

.carrazo {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-shrink: 0; /*no se encoje*/
}

.carrazo img {
    width: 30px;
    cursor: pointer;
    transition: transform 0.2s;
}

.carrazo img:hover {
    transform: scale(1.1);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    /* Líneas suaves para separar el menú*/
    border-top: 1px solid #f0f0f0;
    
    flex-wrap: wrap;
    height: auto;
    min-height: 40px;
    padding: 10px 0;
}

nav a {
    color: #333333; 
    text-decoration: none;
    margin: 5px 15px;
    font-size: 14px;
    text-transform: uppercase; /*cambio a mayuscula*/
    font-weight: 700; /* Letra más gruesa*/
    white-space: nowrap; /*el texto no se divide en varias lineas*/
    transition: color 0.3s;
}

/* Efecto al pasar el puntero */
nav a:hover {
    color: aqua;
}